# Server Configuration
PORT=3001

# Supabase Configuration
SUPABASE_URL=https://fbnflvpnyuqikdnjjnic.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZibmZsdnBueXVxaWtkbmpqbmljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyODU4OTEsImV4cCI6MjA4Nzg2MTg5MX0.NgzzUnGnccUZjlBLRzbsbSMGbw7pXpQQ3h0h6-e9A9c
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZibmZsdnBueXVxaWtkbmpqbmljIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjI4NTg5MSwiZXhwIjoyMDg3ODYxODkxfQ.dP-LzAiWFGiiJheGQy20J4cPiJaZ5HNoWE-rM6ieQFg

# JWT Configuration
JWT_SECRET=FvXrqEAyjO6xNFjHmf6A97E3TcwLT3i0NQmASdbQNEIBpCvERBgT6XDrQf2qIl/2B4EqGdlIY0j6wtbc15OESw==
